@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgLogo{
    width: 15vw;
    height: 26vh;
}

.mainForm{
    background-color: white;
    width: 29vw;
    height: 70vh;
    border: 3px solid black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloFormReserva{
    font-family: 'Inter', sans-serif;
    font-size: 27px;
}

.tituloInput{
    
}