@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header{
    width: 100vw;
    height: 15vh;
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logoHeader{
    height: 100%;
}

.btnHeader{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    height: 35px;
    width: 280px;
    background-color: #A17222;
    border-bottom: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#mainVagas{
    width: 85vw;
    height: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardVaga{
    width: 280px;
    height: 290px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#defVaga{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: green;
    margin-bottom: 0;
}

#nVaga{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}

.textCard{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 1.5vh;
    margin-top: 0;
}

.linha{
    width: 250px;
    height: 1px;
    background-color: black;
    margin-bottom: 2vh;
}